.image-list-container {
    width: 80%;
    margin: auto;
    position: relative;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}


.image-list-container img {
    width:100%;
    cursor: pointer;
    height: 100%;
}

